@model CocktailMVC.Models.Cocktail
@{
    ViewBag.Title = "Detail";
}

<h2>@Model.Name</h2>
<p>Name: @Model.Name</p>
<p>Price: @Model.Price</p>
<p>Theme: @Model.Theme.Name</p>
<p>Description: @Model.Description</p>

